<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/placed_donation.css">


    <title>Placed Donations</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg py-3 sticky-top navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img class="logo" src="/images/logo.png" width="45" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">about</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Welcome Back</a>
                    </li>
                </ul>
                <a href="#">
                    <button class="btn btn-primary ms-lg-3">Logout</button>
                </a>

            </div>
        </div>
    </nav><!-- //NAVBAR -->
    
    
    <!-- HERO -->
    <div class="hero vh-100 d-flex align-items-center" id="home">
        <div id="home" class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="text-center"> Available Donations </h2><br>
                
                 <!-- success message -->
                 <div th:if="${param.success}">
                    <div class="alert alert-info">No Donations available from you city!</div>
                </div>
                    
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Donation Category</th>
                        <th>Description</th>
                        <th>comment</th>
                        <th>Book Now</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr th:each = "donations : ${listDonations}">
                            <td th:text = "${donations.donationcategory}"></td>
                            <td th:text="${donations.description}" ></td>
                            <td th:text="${donations.comment}" ></td>
                            <td>
                                <a class="btn btn-outline-primary" th:href="@{/bookDonation/{id}(id=${donations.id})}" >Book 
                                    <i class='bx bx-cycling'></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                  </table>


                
                
              </div>
              
            </div>
          </div>
    </div><!-- //HERO -->



      <footer class="page-footer font-small ">

        <!-- Copyright -->            
        
        <div class="footer-copyright text-center py-3 blue">© 2021 Copyright:
            <a href="#"> HelpingHands.com</a>            
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

</body>
